.back-container {
    position: fixed;
    background-color: #09CE93;
    height: 100ch;
    width: 7%;
    min-width: 75px;

    display: flex;
    justify-content: center;
}

.back-container button {
    margin-top: 50px;
    transition: opacity 0.2s;
    color: #323935;
    height: 50px;
    background-color: transparent;
    border: 0;
}

.back-container button:hover {
    color: rgba(255, 255, 255, 0.795);
}