.home-container {
    width: 100%;
    max-width: 1380px;
    /* padding: 0 30px; */
    margin: 0 auto;
}

.home-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #09CE93;
    padding: 10px 0;
    border-bottom: 8px solid #323935;
}

.home-container header img {
    margin-left: 20px;
}

.home-container header .search-form {
    width: 40%;
    height: 42px;
    background-color: #FFF;
    border-radius: 30px;
    margin-inline: 30px;
}

.home-container header .search-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container header .search-form form input{
    border: 0;
    height: 40px;
}

.home-container header .search-form form button {
    background-color: transparent;
    padding: 5px;
    border: 0;
    padding-left: 13px;
    border-left: 2px solid #757575;
    margin-right: 2%;
}

.home-container header .info-car {
    width: 35%;
    margin-right: 2%;
    /* padding: 0 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container header .info-car div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-container header .info-car div a:nth-child(2) {
    margin-inline: 40px;
}

.home-container header .info-car a {
    font-size: 20px;
    /* font-weight: 700; */
    text-decoration: none;
    color: #323935;
}

.home-container header .info-car a:hover {
    color: #FFF;
}

.home-container .carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #09CE93;
}

.home-container .categorias {
    width: 95%;
    /* max-width: 1180px; */
    margin: 20px auto;
}

.home-container .categorias h1 {
    font-size: 18pt;
    margin-bottom: 20px;
}

.home-container .categorias ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    list-style: none;
}

.home-container .categorias ul li {
    display: inline-block;
}

.home-container .categorias ul button {
    background-color: #D6EBDF;
    color: #757575;
    font-size: 14pt;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid #323935;
    margin: 2px;
}

.home-container .categorias ul button:hover {
    color: #323935;
    border: 2px solid #757575;
}

.home-container .categorias ul button.selected {
    display: inline-block;
    background-color: #09CE93;
    color: #323935;
    font-size: 14pt;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid #D6EBDF;
    margin: 2px;
}

.home-container .lista-produtos {
    width: 100%;
    max-width: 1220px;
    margin: 50px auto;
    padding: 10px 20px;

}

.home-container .lista-produtos ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.home-container .lista-produtos ul a {
    display: block;
    background-color: #FFF;
    color: #323935;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;

    border: 5px solid #757575;
}

.home-container .lista-produtos ul a:hover {
    /* color: #09CE93; */
    border: 5px solid #09CE93;
}

.home-container .lista-produtos ul a .produto-info h2 {
    font-size: 25pt;
    line-height: 70px;
    text-align: center;
    
}

.home-container .lista-produtos ul a .produto-info p {
    font-size: 12pt;
    text-align: left;
}